In [ ]:
## accessing dictionaries
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys());

# Print out value that belongs to key 'norway'
print(europe['norway'])

In [ ]:
## creating dictionary

##defining country and capital
countries = ['spain', 'france', 'germany','norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

## creating dictionary
## here both key and value "key":"value" are strings. need not be the case, all the time.
europe = {"spain":"madrid","france":"paris",
          "germany":"berlin","norway":"oslo"};

print(europe);

In [3]:
##CSV to DataFrame (1)
##Putting data in a dictionary and then building a DataFrame works, but it's not very efficient.
##What if you're dealing with millions of observations? In those cases, the data is typically available as files with a regular structure. One of those file types is the CSV file, which is short for "comma-separated values".
##To import CSV data into Python as a Pandas DataFrame you can use read_csv().
##Let's explore this function with the same cars data from the previous exercises.
##This time, however, the data is available in a CSV file, named cars.csv. It is available
##in your current working directory, so the path to the file is simply 'cars.csv'.
##Instructions
##-To import CSV files you still need the pandas package: import it as pd.
##-Use pd.read_csv() to import cars.csv data as a DataFrame. Store this dataframe as cars.
##-Print out cars. Does everything look OK?
import pandas as pd

cars = pd.read_csv('banklist.csv')
print(cars);

                                             Bank Name              City  ST  \
0             Banks of Wisconsin d/b/a Bank of Kenosha           Kenosha  WI
1                                 Central Arizona Bank        Scottsdale  AZ
2                                         Sunrise Bank          Valdosta  GA
3                                Pisgah Community Bank         Asheville  NC
4                                  Douglas County Bank      Douglasville  GA
5                                         Parkway Bank            Lenoir  NC
6                               Chipola Community Bank          Marianna  FL
7                       Heritage Bank of North Florida       Orange Park  FL
8                                   First Federal Bank         Lexington  KY
9                                     Gold Canyon Bank       Gold Canyon  AZ
10                                       Frontier Bank          LaGrange  GA
11                                       Covenant Bank           Chicago  IL
12                                    1st Regents Bank           Andover  MN
13                             Westside Community Bank  University Place  WA
14                        Community Bank of the Ozarks     Sunrise Beach  MO
15                             Hometown Community Bank         Braselton  GA
16                        Citizens First National Bank         Princeton  IL
17                            Heritage Bank of Florida              Lutz  FL
18                                           NOVA Bank            Berwyn  PA
19                                          Excel Bank           Sedalia  MO
20                        First East Side Savings Bank           Tamarac  FL
21                              GulfSouth Private Bank            Destin  FL
22                                   First United Bank             Crete  IL
23                                         Truman Bank         St. Louis  MO
24                               First Commercial Bank       Bloomington  MN
25                               Waukegan Savings Bank          Waukegan  IL
26                              Jasper Banking Company            Jasper  GA
27   Second Federal Savings and Loan Association of...           Chicago  IL
28                                      Heartland Bank           Leawood  KS
29                           First Cherokee State Bank         Woodstock  GA
..                                                 ...               ...  ..
476                                  ANB Financial, NA       Bentonville  AR
477                                          Hume Bank              Hume  MO
478                             Douglass National Bank       Kansas City  MO
479                                  Miami Valley Bank          Lakeview  OH
480                                            NetBank        Alpharetta  GA
481                          Metropolitan Savings Bank        Pittsburgh  PA
482                                    Bank of Ephraim           Ephraim  UT
483                                      Reliance Bank      White Plains  NY
484              Guaranty National Bank of Tallahassee       Tallahassee  FL
485                                Dollar Savings Bank            Newark  NJ
486                               Pulaski Savings Bank      Philadelphia  PA
487              First National Bank of Blanchardville    Blanchardville  WI
488                              Southern Pacific Bank          Torrance  CA
489                        Farmers Bank of Cheneyville       Cheneyville  LA
490                                      Bank of Alamo             Alamo  TN
491                         AmTrade International Bank           Atlanta  GA
492                     Universal Federal Savings Bank           Chicago  IL
493                       Connecticut Bank of Commerce          Stamford  CT
494                                   New Century Bank   Shelby Township  MI
495                              Net 1st National Bank        Boca Raton  FL
496                                       NextBank, NA           Phoenix  AZ
497                           Oakwood Deposit Bank Co.           Oakwood  OH
498                              Bank of Sierra Blanca     Sierra Blanca  TX
499                                  Hamilton Bank, NA             Miami  FL
500                             Sinclair National Bank          Gravette  AR
501                                 Superior Bank, FSB          Hinsdale  IL
502                                Malta National Bank             Malta  OH
503                    First Alliance Bank & Trust Co.        Manchester  NH
504                  National State Bank of Metropolis        Metropolis  IL
505                                   Bank of Honolulu          Honolulu  HI

      CERT                              Acquiring Institution Closing Date  \
0    35386                              North Shore Bank, FSB    31-May-13
1    34527                                 Western State Bank    14-May-13
2    58185                                       Synovus Bank    10-May-13
3    58701                                 Capital Bank, N.A.    10-May-13
4    21649                                Hamilton State Bank    26-Apr-13
5    57158                   CertusBank, National Association    26-Apr-13
6    58034                      First Federal Bank of Florida    19-Apr-13
7    26680                                 FirstAtlantic Bank    19-Apr-13
8    29594                                Your Community Bank    19-Apr-13
9    58066        First Scottsdale Bank, National Association     5-Apr-13
10   16431                          HeritageBank of the South     8-Mar-13
11   22476                     Liberty Bank and Trust Company    15-Feb-13
12   57157                               First Minnesota Bank    18-Jan-13
13   33997                                       Sunwest Bank    11-Jan-13
14   27331                                   Bank of Sullivan    14-Dec-12
15   57928                   CertusBank, National Association    16-Nov-12
16    3731                   Heartland Bank and Trust Company     2-Nov-12
17   35009                                    Centennial Bank     2-Nov-12
18   27148                                        No Acquirer    26-Oct-12
19   19189                        Simmons First National Bank    19-Oct-12
20   28144                                  Stearns Bank N.A.    19-Oct-12
21   58073                                          SmartBank    19-Oct-12
22   20685  Old Plank Trail Community Bank, National Assoc...    28-Sep-12
23   27316                        Simmons First National Bank    14-Sep-12
24   35246                      Republic Bank & Trust Company     7-Sep-12
25   28243                                 First Midwest Bank     3-Aug-12
26   16240                                  Stearns Bank N.A.    27-Jul-12
27   27986                      Hinsdale Bank & Trust Company    20-Jul-12
28    1361                                       Metcalf Bank    20-Jul-12
29   32711                          Community & Southern Bank    20-Jul-12
..     ...                                                ...          ...
476  33901                     Pulaski Bank and Trust Company     9-May-08
477   1971                                      Security Bank     7-Mar-08
478  24660                     Liberty Bank and Trust Company    25-Jan-08
479  16848                       The Citizens Banking Company     4-Oct-07
480  32575                                         ING DIRECT    28-Sep-07
481  35353                Allegheny Valley Bank of Pittsburgh     2-Feb-07
482   1249                                      Far West Bank    25-Jun-04
483  26778                                   Union State Bank    19-Mar-04
484  26838                            Hancock Bank of Florida    12-Mar-04
485  31330                                        No Acquirer    14-Feb-04
486  27203                                     Earthstar Bank    14-Nov-03
487  11639                                      The Park Bank     9-May-03
488  27094                                          Beal Bank     7-Feb-03
489  16445                          Sabine State Bank & Trust    17-Dec-02
490   9961                                        No Acquirer     8-Nov-02
491  33784                                        No Acquirer    30-Sep-02
492  29355                             Chicago Community Bank    27-Jun-02
493  19183                                 Hudson United Bank    26-Jun-02
494  34979                                        No Acquirer    28-Mar-02
495  26652                                     Bank Leumi USA     1-Mar-02
496  22314                                        No Acquirer     7-Feb-02
497   8966                     The State Bank & Trust Company     1-Feb-02
498  22002                   The Security State Bank of Pecos    18-Jan-02
499  24382                   Israel Discount Bank of New York    11-Jan-02
500  34248                                 Delta Trust & Bank     7-Sep-01
501  32646                              Superior Federal, FSB    27-Jul-01
502   6629                                  North Valley Bank     3-May-01
503  34264                Southern New Hampshire Bank & Trust     2-Feb-01
504   3815                            Banterra Bank of Marion    14-Dec-00
505  21029                                 Bank of the Orient    13-Oct-00

    Updated Date
0      31-May-13
1      20-May-13
2      21-May-13
3      14-May-13
4      16-May-13
5      17-May-13
6      16-May-13
7      16-May-13
8      23-Apr-13
9       9-Apr-13
10     26-Mar-13
11      4-Mar-13
12     28-Feb-13
13     24-Jan-13
14     24-Jan-13
15     24-Jan-13
16     24-Jan-13
17     24-Jan-13
18     24-Jan-13
19     24-Jan-13
20     24-Jan-13
21     24-Jan-13
22     15-Nov-12
23     17-Dec-12
24     17-Dec-12
25     11-Oct-12
26     17-Dec-12
27     14-Jan-13
28     17-Dec-12
29     31-Oct-12
..           ...
476    28-Aug-12
477    28-Aug-12
478    26-Oct-12
479    28-Aug-12
480    28-Aug-12
481    27-Oct-10
482     9-Apr-08
483     9-Apr-08
484     5-Jun-12
485     9-Apr-08
486    22-Jul-05
487     5-Jun-12
488    20-Oct-08
489    20-Oct-04
490    18-Mar-05
491    11-Sep-06
492     9-Apr-08
493    14-Feb-12
494    18-Mar-05
495     9-Apr-08
496    27-Aug-10
497    25-Oct-12
498     6-Nov-03
499     5-Jun-12
500    10-Feb-04
501     5-Jun-12
502    18-Nov-02
503    18-Feb-03
504    17-Mar-05
505    17-Mar-05

[506 rows x 7 columns]

In [4]:
##your read_csv() call to import the CSV data didn't generate an error, but the
##output is not entirely what we wanted. The row labels were imported as another
##column without a name.
##Remember index_col, an argument of read_csv(), that you can use to specify which
##column in the CSV file should be used as a row label? Well, that's exactly what
##you need here!
##Python code that solves the previous exercise is already included; can you make
##the appropriate changes to fix the data import?
##Instructions
##-Run the code with Submit Answer and assert that the first column should actually
##be used as row labels.
##-Specify the index_col argument inside pd.read_csv(): set it to 0, so that the
##first column is used as row labels.
##-Has the printout of cars improved now?


import pandas as pd

cars = pd.read_csv('banklist.csv', index_col=0);
print(cars);

                                                                City  ST  \
Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha                     Kenosha  WI
Central Arizona Bank                                      Scottsdale  AZ
Sunrise Bank                                                Valdosta  GA
Pisgah Community Bank                                      Asheville  NC
Douglas County Bank                                     Douglasville  GA
Parkway Bank                                                  Lenoir  NC
Chipola Community Bank                                      Marianna  FL
Heritage Bank of North Florida                           Orange Park  FL
First Federal Bank                                         Lexington  KY
Gold Canyon Bank                                         Gold Canyon  AZ
Frontier Bank                                               LaGrange  GA
Covenant Bank                                                Chicago  IL
1st Regents Bank                                             Andover  MN
Westside Community Bank                             University Place  WA
Community Bank of the Ozarks                           Sunrise Beach  MO
Hometown Community Bank                                    Braselton  GA
Citizens First National Bank                               Princeton  IL
Heritage Bank of Florida                                        Lutz  FL
NOVA Bank                                                     Berwyn  PA
Excel Bank                                                   Sedalia  MO
First East Side Savings Bank                                 Tamarac  FL
GulfSouth Private Bank                                        Destin  FL
First United Bank                                              Crete  IL
Truman Bank                                                St. Louis  MO
First Commercial Bank                                    Bloomington  MN
Waukegan Savings Bank                                       Waukegan  IL
Jasper Banking Company                                        Jasper  GA
Second Federal Savings and Loan Association of ...           Chicago  IL
Heartland Bank                                               Leawood  KS
First Cherokee State Bank                                  Woodstock  GA
...                                                              ...  ..
ANB Financial, NA                                        Bentonville  AR
Hume Bank                                                       Hume  MO
Douglass National Bank                                   Kansas City  MO
Miami Valley Bank                                           Lakeview  OH
NetBank                                                   Alpharetta  GA
Metropolitan Savings Bank                                 Pittsburgh  PA
Bank of Ephraim                                              Ephraim  UT
Reliance Bank                                           White Plains  NY
Guaranty National Bank of Tallahassee                    Tallahassee  FL
Dollar Savings Bank                                           Newark  NJ
Pulaski Savings Bank                                    Philadelphia  PA
First National Bank of Blanchardville                 Blanchardville  WI
Southern Pacific Bank                                       Torrance  CA
Farmers Bank of Cheneyville                              Cheneyville  LA
Bank of Alamo                                                  Alamo  TN
AmTrade International Bank                                   Atlanta  GA
Universal Federal Savings Bank                               Chicago  IL
Connecticut Bank of Commerce                                Stamford  CT
New Century Bank                                     Shelby Township  MI
Net 1st National Bank                                     Boca Raton  FL
NextBank, NA                                                 Phoenix  AZ
Oakwood Deposit Bank Co.                                     Oakwood  OH
Bank of Sierra Blanca                                  Sierra Blanca  TX
Hamilton Bank, NA                                              Miami  FL
Sinclair National Bank                                      Gravette  AR
Superior Bank, FSB                                          Hinsdale  IL
Malta National Bank                                            Malta  OH
First Alliance Bank & Trust Co.                           Manchester  NH
National State Bank of Metropolis                         Metropolis  IL
Bank of Honolulu                                            Honolulu  HI

                                                     CERT  \
Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha            35386
Central Arizona Bank                                34527
Sunrise Bank                                        58185
Pisgah Community Bank                               58701
Douglas County Bank                                 21649
Parkway Bank                                        57158
Chipola Community Bank                              58034
Heritage Bank of North Florida                      26680
First Federal Bank                                  29594
Gold Canyon Bank                                    58066
Frontier Bank                                       16431
Covenant Bank                                       22476
1st Regents Bank                                    57157
Westside Community Bank                             33997
Community Bank of the Ozarks                        27331
Hometown Community Bank                             57928
Citizens First National Bank                         3731
Heritage Bank of Florida                            35009
NOVA Bank                                           27148
Excel Bank                                          19189
First East Side Savings Bank                        28144
GulfSouth Private Bank                              58073
First United Bank                                   20685
Truman Bank                                         27316
First Commercial Bank                               35246
Waukegan Savings Bank                               28243
Jasper Banking Company                              16240
Second Federal Savings and Loan Association of ...  27986
Heartland Bank                                       1361
First Cherokee State Bank                           32711
...                                                   ...
ANB Financial, NA                                   33901
Hume Bank                                            1971
Douglass National Bank                              24660
Miami Valley Bank                                   16848
NetBank                                             32575
Metropolitan Savings Bank                           35353
Bank of Ephraim                                      1249
Reliance Bank                                       26778
Guaranty National Bank of Tallahassee               26838
Dollar Savings Bank                                 31330
Pulaski Savings Bank                                27203
First National Bank of Blanchardville               11639
Southern Pacific Bank                               27094
Farmers Bank of Cheneyville                         16445
Bank of Alamo                                        9961
AmTrade International Bank                          33784
Universal Federal Savings Bank                      29355
Connecticut Bank of Commerce                        19183
New Century Bank                                    34979
Net 1st National Bank                               26652
NextBank, NA                                        22314
Oakwood Deposit Bank Co.                             8966
Bank of Sierra Blanca                               22002
Hamilton Bank, NA                                   24382
Sinclair National Bank                              34248
Superior Bank, FSB                                  32646
Malta National Bank                                  6629
First Alliance Bank & Trust Co.                     34264
National State Bank of Metropolis                    3815
Bank of Honolulu                                    21029

                                                                                Acquiring Institution  \
Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha                                        North Shore Bank, FSB
Central Arizona Bank                                                               Western State Bank
Sunrise Bank                                                                             Synovus Bank
Pisgah Community Bank                                                              Capital Bank, N.A.
Douglas County Bank                                                               Hamilton State Bank
Parkway Bank                                                         CertusBank, National Association
Chipola Community Bank                                                  First Federal Bank of Florida
Heritage Bank of North Florida                                                     FirstAtlantic Bank
First Federal Bank                                                                Your Community Bank
Gold Canyon Bank                                          First Scottsdale Bank, National Association
Frontier Bank                                                               HeritageBank of the South
Covenant Bank                                                          Liberty Bank and Trust Company
1st Regents Bank                                                                 First Minnesota Bank
Westside Community Bank                                                                  Sunwest Bank
Community Bank of the Ozarks                                                         Bank of Sullivan
Hometown Community Bank                                              CertusBank, National Association
Citizens First National Bank                                         Heartland Bank and Trust Company
Heritage Bank of Florida                                                              Centennial Bank
NOVA Bank                                                                                 No Acquirer
Excel Bank                                                                Simmons First National Bank
First East Side Savings Bank                                                        Stearns Bank N.A.
GulfSouth Private Bank                                                                      SmartBank
First United Bank                                   Old Plank Trail Community Bank, National Assoc...
Truman Bank                                                               Simmons First National Bank
First Commercial Bank                                                   Republic Bank & Trust Company
Waukegan Savings Bank                                                              First Midwest Bank
Jasper Banking Company                                                              Stearns Bank N.A.
Second Federal Savings and Loan Association of ...                      Hinsdale Bank & Trust Company
Heartland Bank                                                                           Metcalf Bank
First Cherokee State Bank                                                   Community & Southern Bank
...                                                                                               ...
ANB Financial, NA                                                      Pulaski Bank and Trust Company
Hume Bank                                                                               Security Bank
Douglass National Bank                                                 Liberty Bank and Trust Company
Miami Valley Bank                                                        The Citizens Banking Company
NetBank                                                                                    ING DIRECT
Metropolitan Savings Bank                                         Allegheny Valley Bank of Pittsburgh
Bank of Ephraim                                                                         Far West Bank
Reliance Bank                                                                        Union State Bank
Guaranty National Bank of Tallahassee                                         Hancock Bank of Florida
Dollar Savings Bank                                                                       No Acquirer
Pulaski Savings Bank                                                                   Earthstar Bank
First National Bank of Blanchardville                                                   The Park Bank
Southern Pacific Bank                                                                       Beal Bank
Farmers Bank of Cheneyville                                                 Sabine State Bank & Trust
Bank of Alamo                                                                             No Acquirer
AmTrade International Bank                                                                No Acquirer
Universal Federal Savings Bank                                                 Chicago Community Bank
Connecticut Bank of Commerce                                                       Hudson United Bank
New Century Bank                                                                          No Acquirer
Net 1st National Bank                                                                  Bank Leumi USA
NextBank, NA                                                                              No Acquirer
Oakwood Deposit Bank Co.                                               The State Bank & Trust Company
Bank of Sierra Blanca                                                The Security State Bank of Pecos
Hamilton Bank, NA                                                    Israel Discount Bank of New York
Sinclair National Bank                                                             Delta Trust & Bank
Superior Bank, FSB                                                              Superior Federal, FSB
Malta National Bank                                                                 North Valley Bank
First Alliance Bank & Trust Co.                                   Southern New Hampshire Bank & Trust
National State Bank of Metropolis                                             Banterra Bank of Marion
Bank of Honolulu                                                                   Bank of the Orient

                                                   Closing Date Updated Date
Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha              31-May-13    31-May-13
Central Arizona Bank                                  14-May-13    20-May-13
Sunrise Bank                                          10-May-13    21-May-13
Pisgah Community Bank                                 10-May-13    14-May-13
Douglas County Bank                                   26-Apr-13    16-May-13
Parkway Bank                                          26-Apr-13    17-May-13
Chipola Community Bank                                19-Apr-13    16-May-13
Heritage Bank of North Florida                        19-Apr-13    16-May-13
First Federal Bank                                    19-Apr-13    23-Apr-13
Gold Canyon Bank                                       5-Apr-13     9-Apr-13
Frontier Bank                                          8-Mar-13    26-Mar-13
Covenant Bank                                         15-Feb-13     4-Mar-13
1st Regents Bank                                      18-Jan-13    28-Feb-13
Westside Community Bank                               11-Jan-13    24-Jan-13
Community Bank of the Ozarks                          14-Dec-12    24-Jan-13
Hometown Community Bank                               16-Nov-12    24-Jan-13
Citizens First National Bank                           2-Nov-12    24-Jan-13
Heritage Bank of Florida                               2-Nov-12    24-Jan-13
NOVA Bank                                             26-Oct-12    24-Jan-13
Excel Bank                                            19-Oct-12    24-Jan-13
First East Side Savings Bank                          19-Oct-12    24-Jan-13
GulfSouth Private Bank                                19-Oct-12    24-Jan-13
First United Bank                                     28-Sep-12    15-Nov-12
Truman Bank                                           14-Sep-12    17-Dec-12
First Commercial Bank                                  7-Sep-12    17-Dec-12
Waukegan Savings Bank                                  3-Aug-12    11-Oct-12
Jasper Banking Company                                27-Jul-12    17-Dec-12
Second Federal Savings and Loan Association of ...    20-Jul-12    14-Jan-13
Heartland Bank                                        20-Jul-12    17-Dec-12
First Cherokee State Bank                             20-Jul-12    31-Oct-12
...                                                         ...          ...
ANB Financial, NA                                      9-May-08    28-Aug-12
Hume Bank                                              7-Mar-08    28-Aug-12
Douglass National Bank                                25-Jan-08    26-Oct-12
Miami Valley Bank                                      4-Oct-07    28-Aug-12
NetBank                                               28-Sep-07    28-Aug-12
Metropolitan Savings Bank                              2-Feb-07    27-Oct-10
Bank of Ephraim                                       25-Jun-04     9-Apr-08
Reliance Bank                                         19-Mar-04     9-Apr-08
Guaranty National Bank of Tallahassee                 12-Mar-04     5-Jun-12
Dollar Savings Bank                                   14-Feb-04     9-Apr-08
Pulaski Savings Bank                                  14-Nov-03    22-Jul-05
First National Bank of Blanchardville                  9-May-03     5-Jun-12
Southern Pacific Bank                                  7-Feb-03    20-Oct-08
Farmers Bank of Cheneyville                           17-Dec-02    20-Oct-04
Bank of Alamo                                          8-Nov-02    18-Mar-05
AmTrade International Bank                            30-Sep-02    11-Sep-06
Universal Federal Savings Bank                        27-Jun-02     9-Apr-08
Connecticut Bank of Commerce                          26-Jun-02    14-Feb-12
New Century Bank                                      28-Mar-02    18-Mar-05
Net 1st National Bank                                  1-Mar-02     9-Apr-08
NextBank, NA                                           7-Feb-02    27-Aug-10
Oakwood Deposit Bank Co.                               1-Feb-02    25-Oct-12
Bank of Sierra Blanca                                 18-Jan-02     6-Nov-03
Hamilton Bank, NA                                     11-Jan-02     5-Jun-12
Sinclair National Bank                                 7-Sep-01    10-Feb-04
Superior Bank, FSB                                    27-Jul-01     5-Jun-12
Malta National Bank                                    3-May-01    18-Nov-02
First Alliance Bank & Trust Co.                        2-Feb-01    18-Feb-03
National State Bank of Metropolis                     14-Dec-00    17-Mar-05
Bank of Honolulu                                      13-Oct-00    17-Mar-05

[506 rows x 6 columns]

In [4]:
## dictionary of dictionaries

## use this method to create dictionaries of dictionaries. like lists, dictionaries too can contain multiple data types

##name_of_dictionary = {'':{},'':{},'':{},'':{},'':{}};
europe = {'united kingdom':{'capital':'london','population':11},
          'germany':{'capital':'berlin','population':12},
          'france':{'capital':'paris','population':10},
          'spain':{'capital':'madrid','population':9},
          'italy':{'capital':'milan','population':10},
         'australia':{'capital':'canberra','population':10}};

##print specifics
print(europe['france']['capital'])

##add new data
europe['sweden']= {'capital':'stockholm', 'population':8}

print(europe);

paris
{'italy': {'population': 10, 'capital': 'rome'}, 'france': {'population': 10, 'capital': 'paris'}, 'united kingdom': {'population': 11, 'capital': 'london'}, 'sweden': {'population': 8, 'capital': 'stockholm'}, 'germany': {'population': 12, 'capital': 'berlin'}, 'spain': {'population': 9, 'capital': 'madrid'}}

In [10]:
## updating values
## in the above dictiaonry, the capital of italy is incorrect. it's rome and not milan
europe = {'united kingdom':{'capital':'london','population':11},
          'germany':{'capital':'berlin','population':12},
          'france':{'capital':'paris','population':10},
          'spain':{'capital':'madrid','population':9},
          'italy':{'capital':'milan','population':10},
         'australia':{'capital':'canberra','population':10}};
print(europe)
europe['italy'] = 'rome';
del(europe['australia']) ## remove australia
europe['norway'] = {'capital':'oslo', 'population':5}

print(europe)

{'australia': {'population': 10, 'capital': 'canberra'}, 'italy': {'population': 10, 'capital': 'milan'}, 'france': {'population': 10, 'capital': 'paris'}, 'united kingdom': {'population': 11, 'capital': 'london'}, 'germany': {'population': 12, 'capital': 'berlin'}, 'spain': {'population': 9, 'capital': 'madrid'}}
{'italy': 'rome', 'france': {'population': 10, 'capital': 'paris'}, 'united kingdom': {'population': 11, 'capital': 'london'}, 'germany': {'population': 12, 'capital': 'berlin'}, 'norway': {'population': 5, 'capital': 'oslo'}, 'spain': {'population': 9, 'capital': 'madrid'}}

In [7]:
## dictionary to data frame
## Data Frame is an imp. data str. A way to store tabular data where you can label the rows and the columns. 
## One way to build a DataFrame is from a dictionary.

## remember textual to tabular data

#import pandas
import pandas as pd

## define the keys and values

##** NOTE: the values are an array, so beware the braces!
## key = country and value = country_names
country_names = ['USA','UK','China','India','France'];

## key = driving_side_right and value = driving_side_value is a boolean list
driving_side_value = [True, False, True, False, True];

## key = carsper1000people and value = cpt_value
cpt_value = [900,800,600,500,750];

## custom dictionary
my_cars_dict = {'country':country_names, 
                'driving_side_right':driving_side_value, 
                'carsper1000people':cpt_value};

## **BUILD DATA FRAME
cars = pd.DataFrame(my_cars_dict)
print(cars);

   carsper1000people country  driving_side_right
0                900     USA                True
1                800      UK               False
2                600   China                True
3                500   India               False
4                750  France                True

In [8]:
## previously the row labels went from 0 to 4. these can be renamed, apparently, by creating a list
row_labels = ['US','UK','CHN','IND','FRA'];

import pandas as pd
## key = country and value = country_names
country_names = ['USA','UK','China','India','France'];

## key = driving_side_right and value = driving_side_value is a boolean list
driving_side_value = [True, False, True, False, True];

## key = carsper1000people and value = cpt_value
cpt_value = [900,800,600,500,750];

## custom dictionary
my_cars_dict = {'country':country_names, 
                'driving_side_right':driving_side_value, 
                'carsper1000people':cpt_value};

## **BUILD DATA FRAME
cars = pd.DataFrame(my_cars_dict)
print(cars);

cars.index = row_labels;
print(cars);

   carsper1000people country  driving_side_right
0                900     USA                True
1                800      UK               False
2                600   China                True
3                500   India               False
4                750  France                True
     carsper1000people country  driving_side_right
US                 900     USA                True
UK                 800      UK               False
CHN                600   China                True
IND                500   India               False
FRA                750  France                True

In [29]:
## using loc and iloc
## loc is label based operation to find anything from a data frame, while iloc is integer-index based.
## => you gotta specify the rows and columns.

import pandas as pd
row_labels = ['US','UK','CHN','IND','FRA'];

import pandas as pd
## key = country and value = country_names
country_names = ['USA','UK','China','India','France'];

## key = driving_side_right and value = driving_side_value is a boolean list
driving_side_value = [True, False, True, False, True];

## key = carsper1000people and value = cpt_value
cpt_value = [900,800,600,500,750];

## custom dictionary
my_cars_dict = {'country':country_names, 
                'driving_side_right':driving_side_value, 
                'carsper1000people':cpt_value};

## **BUILD DATA FRAME
cars = pd.DataFrame(my_cars_dict)
cars.index = row_labels;

print(cars);
print('\n')
print(cars.loc['UK']);
print('\n')
print(cars.iloc[3]);
print('\n')
print(cars.loc[['IND','CHN']])
print('\n');
print(cars.iloc[[0,1,3]])
print('\n')
print(cars.loc[:,['country']])
print('\n')
print(cars.loc[:,['country','driving_side_right']])

     carsper1000people country  driving_side_right
US                 900     USA                True
UK                 800      UK               False
CHN                600   China                True
IND                500   India               False
FRA                750  France                True


carsper1000people       800
country                  UK
driving_side_right    False
Name: UK, dtype: object


carsper1000people       500
country               India
driving_side_right    False
Name: IND, dtype: object


     carsper1000people country  driving_side_right
IND                500   India               False
CHN                600   China                True


     carsper1000people country  driving_side_right
US                 900     USA                True
UK                 800      UK               False
IND                500   India               False


    country
US      USA
UK       UK
CHN   China
IND   India
FRA  France


    country  driving_side_right
US      USA                True
UK       UK               False
CHN   China                True
IND   India               False
FRA  France                True

In [33]:
## checking how lists are connected to each other

list01 = ['bla1','bla2','bla3','bla4']
list02 = ['connected to bla1','connected to bla2','connected to bla3','connected to bla4']

#idx = list01.index('bla2')
print(list02[list01.index('bla2')])

connected to bla2

In [39]:
## reading between single and double brackets

import pandas as pd

banks = pd.read_csv('banklist.csv', index_col=0);

print(banks['City'])# prints as pandas series
#print(banks[['City']]) # prints as a data frame

print(banks[['City', 'CERT']])

print(banks[0:3]);
print(banks[3:6])

Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha                           Kenosha
Central Arizona Bank                                            Scottsdale
Sunrise Bank                                                      Valdosta
Pisgah Community Bank                                            Asheville
Douglas County Bank                                           Douglasville
Parkway Bank                                                        Lenoir
Chipola Community Bank                                            Marianna
Heritage Bank of North Florida                                 Orange Park
First Federal Bank                                               Lexington
Gold Canyon Bank                                               Gold Canyon
Frontier Bank                                                     LaGrange
Covenant Bank                                                      Chicago
1st Regents Bank                                                   Andover
Westside Community Bank                                   University Place
Community Bank of the Ozarks                                 Sunrise Beach
Hometown Community Bank                                          Braselton
Citizens First National Bank                                     Princeton
Heritage Bank of Florida                                              Lutz
NOVA Bank                                                           Berwyn
Excel Bank                                                         Sedalia
First East Side Savings Bank                                       Tamarac
GulfSouth Private Bank                                              Destin
First United Bank                                                    Crete
Truman Bank                                                      St. Louis
First Commercial Bank                                          Bloomington
Waukegan Savings Bank                                             Waukegan
Jasper Banking Company                                              Jasper
Second Federal Savings and Loan Association of Chicago             Chicago
Heartland Bank                                                     Leawood
First Cherokee State Bank                                        Woodstock
                                                                ...
ANB Financial, NA                                              Bentonville
Hume Bank                                                             Hume
Douglass National Bank                                         Kansas City
Miami Valley Bank                                                 Lakeview
NetBank                                                         Alpharetta
Metropolitan Savings Bank                                       Pittsburgh
Bank of Ephraim                                                    Ephraim
Reliance Bank                                                 White Plains
Guaranty National Bank of Tallahassee                          Tallahassee
Dollar Savings Bank                                                 Newark
Pulaski Savings Bank                                          Philadelphia
First National Bank of Blanchardville                       Blanchardville
Southern Pacific Bank                                             Torrance
Farmers Bank of Cheneyville                                    Cheneyville
Bank of Alamo                                                        Alamo
AmTrade International Bank                                         Atlanta
Universal Federal Savings Bank                                     Chicago
Connecticut Bank of Commerce                                      Stamford
New Century Bank                                           Shelby Township
Net 1st National Bank                                           Boca Raton
NextBank, NA                                                       Phoenix
Oakwood Deposit Bank Co.                                           Oakwood
Bank of Sierra Blanca                                        Sierra Blanca
Hamilton Bank, NA                                                    Miami
Sinclair National Bank                                            Gravette
Superior Bank, FSB                                                Hinsdale
Malta National Bank                                                  Malta
First Alliance Bank & Trust Co.                                 Manchester
National State Bank of Metropolis                               Metropolis
Bank of Honolulu                                                  Honolulu
Name: City, Length: 506, dtype: object
                                                                City   CERT
Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha                     Kenosha  35386
Central Arizona Bank                                      Scottsdale  34527
Sunrise Bank                                                Valdosta  58185
Pisgah Community Bank                                      Asheville  58701
Douglas County Bank                                     Douglasville  21649
Parkway Bank                                                  Lenoir  57158
Chipola Community Bank                                      Marianna  58034
Heritage Bank of North Florida                           Orange Park  26680
First Federal Bank                                         Lexington  29594
Gold Canyon Bank                                         Gold Canyon  58066
Frontier Bank                                               LaGrange  16431
Covenant Bank                                                Chicago  22476
1st Regents Bank                                             Andover  57157
Westside Community Bank                             University Place  33997
Community Bank of the Ozarks                           Sunrise Beach  27331
Hometown Community Bank                                    Braselton  57928
Citizens First National Bank                               Princeton   3731
Heritage Bank of Florida                                        Lutz  35009
NOVA Bank                                                     Berwyn  27148
Excel Bank                                                   Sedalia  19189
First East Side Savings Bank                                 Tamarac  28144
GulfSouth Private Bank                                        Destin  58073
First United Bank                                              Crete  20685
Truman Bank                                                St. Louis  27316
First Commercial Bank                                    Bloomington  35246
Waukegan Savings Bank                                       Waukegan  28243
Jasper Banking Company                                        Jasper  16240
Second Federal Savings and Loan Association of ...           Chicago  27986
Heartland Bank                                               Leawood   1361
First Cherokee State Bank                                  Woodstock  32711
...                                                              ...    ...
ANB Financial, NA                                        Bentonville  33901
Hume Bank                                                       Hume   1971
Douglass National Bank                                   Kansas City  24660
Miami Valley Bank                                           Lakeview  16848
NetBank                                                   Alpharetta  32575
Metropolitan Savings Bank                                 Pittsburgh  35353
Bank of Ephraim                                              Ephraim   1249
Reliance Bank                                           White Plains  26778
Guaranty National Bank of Tallahassee                    Tallahassee  26838
Dollar Savings Bank                                           Newark  31330
Pulaski Savings Bank                                    Philadelphia  27203
First National Bank of Blanchardville                 Blanchardville  11639
Southern Pacific Bank                                       Torrance  27094
Farmers Bank of Cheneyville                              Cheneyville  16445
Bank of Alamo                                                  Alamo   9961
AmTrade International Bank                                   Atlanta  33784
Universal Federal Savings Bank                               Chicago  29355
Connecticut Bank of Commerce                                Stamford  19183
New Century Bank                                     Shelby Township  34979
Net 1st National Bank                                     Boca Raton  26652
NextBank, NA                                                 Phoenix  22314
Oakwood Deposit Bank Co.                                     Oakwood   8966
Bank of Sierra Blanca                                  Sierra Blanca  22002
Hamilton Bank, NA                                              Miami  24382
Sinclair National Bank                                      Gravette  34248
Superior Bank, FSB                                          Hinsdale  32646
Malta National Bank                                            Malta   6629
First Alliance Bank & Trust Co.                           Manchester  34264
National State Bank of Metropolis                         Metropolis   3815
Bank of Honolulu                                            Honolulu  21029

[506 rows x 2 columns]
                                                City  ST   CERT  \
Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha     Kenosha  WI  35386
Central Arizona Bank                      Scottsdale  AZ  34527
Sunrise Bank                                Valdosta  GA  58185

                                          Acquiring Institution Closing Date  \
Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha  North Shore Bank, FSB    31-May-13
Central Arizona Bank                         Western State Bank    14-May-13
Sunrise Bank                                       Synovus Bank    10-May-13

                                         Updated Date
Bank Name
Banks of Wisconsin d/b/a Bank of Kenosha    31-May-13
Central Arizona Bank                        20-May-13
Sunrise Bank                                21-May-13
                               City  ST   CERT  \
Bank Name
Pisgah Community Bank     Asheville  NC  58701
Douglas County Bank    Douglasville  GA  21649
Parkway Bank                 Lenoir  NC  57158

                                  Acquiring Institution Closing Date  \
Bank Name
Pisgah Community Bank                Capital Bank, N.A.    10-May-13
Douglas County Bank                 Hamilton State Bank    26-Apr-13
Parkway Bank           CertusBank, National Association    26-Apr-13

                      Updated Date
Bank Name
Pisgah Community Bank    14-May-13
Douglas County Bank      16-May-13
Parkway Bank             17-May-13